/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Theme base Colors 
 * https://kuler.adobe.com/Birdfolio-Blues-color-theme-1945976/
 */
body {
  padding-top: 80px;
  padding-bottom: 60px;
  color: #2b3a42;
  background-color: #efefef;
  background-image: url(../img/bg_green_light.jpg);
}

h1, h2, h3, h4 {
  color: #3f5765;
}

h1 {
  color: #5792ab;
  font-size: 24px;
  border-bottom: 1px solid #efefef;
}
h1 small {
  font-size: 18px;
}

/* Layout Components { */
#topbar {
  padding: 10px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2b3a42), to(#3f5765));
  background-image: linear-gradient(to bottom, #2b3a42, #3f5765);
  background-color: #3f5765;
}

#sidebar {
  background-color: rgba(63, 87, 101, 0.3);
  margin: -20px;
  padding: 15px;
  border-right: 2px solid rgba(63, 87, 101, 0.5);
}

#page {
  padding-left: 20px;
}

/* } Layout Components  */
/* Specific Elements { */
#goto {
  text-align: center;
}
#goto #goto-no {
  width: 161px;
  margin-right: 9px;
}

#search {
  position: relative;
  padding-right: 15px;
}
#search #q {
  padding-right: 90px;
  width: 200px;
}
#search .nav {
  position: absolute;
  left: 205px;
  z-index: 9;
  top: -5px;
}
#search .dropdown-toggle {
  background-color: transparent;
}

/* } Specific Elements */
.widget {
  background-color: #bdd4de;
  border: 2px solid #2b3a42;
  color: #2b3a42;
  padding: 20px 12px 12px;
  border-radius: 6px;
  margin: 25px 0 10px;
  position: relative;
}
.widget .title {
  position: absolute;
  font-size: 14px;
  top: -23px;
  background-color: #2b3a42;
  padding: 0px 8px;
  line-height: 24px;
  border-radius: 5px;
  color: #bdd4de;
}
.widget form {
  margin-bottom: 5px;
}

#chapters {
  clear: both;
}
#chapters li {
  float: left;
  width: 180px;
}
#chapters li a {
  margin: 10px;
  display: block;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(189, 212, 222, 0.8);
  background-color: rgba(189, 212, 222, 0.4);
  color: #3f5765;
  text-align: center;
  text-decoration: none;
}
#chapters li a span {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  border-top: 1px dashed gray;
  padding: 3px;
}
#chapters li a span:first-child {
  padding-top: 0;
  border-top: none;
}
#chapters li a span:last-child {
  padding-bottom: 0;
}
#chapters li :hover {
  background-color: #3f5765;
  color: #efefef;
}

.bangla {
  font-family: Arial;
}

.arabic {
  font-family: Vardana;
  direction: rtl;
}

.hero-unit {
  background-color: rgba(200, 200, 200, 0.4);
  padding: 30px;
}

.nav .hint {
  color: #888;
  padding: 10px 5px 10px 15px;
}
.nav .v-divider {
  padding: 20px 0;
  border-right: 1px inset;
}

.navbar-inverse .brand {
  color: #efefef;
  font-weight: bold;
  margin-left: -6px;
}
